// Colors

$blue: #1c4da4;
$white: #ffffff;
$pink: #ea2194;
$magenta: #d61560;
$yellow: #fed406;
$purple: #781565;
$aqua: #39c1be;
$green: #149575;
$lightyellow: rgba(255, 217, 0, 0.5);
$lightpink: rgba(219, 32, 141, 0.5);
$lightblue: #1c4ea480;
$darkblue: #1b458f;

//Fonts

@mixin font ($size) {
    font-size: $size;
    font-family: anton, sans-serif;
}

@mixin font2 ($size) {
    font-size: $size;
    font-family: oswald, sans-serif;
}

//Flex

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin flex2($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//Button

@mixin button($size, $color, $background, $padding){
    font-size: $size;
    font-family: anton, sans-serif;
    color: $color;
    text-transform: uppercase;
    background-color: $background;
    letter-spacing: 3px;
    padding: $padding;
    border: 0px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &:hover {
            cursor:pointer;
            color: $darkblue;
        }
        &:active {
            cursor:pointer;
            color: $darkblue;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }
}