@import "../variables/variables.scss";

.bannerHome{
    @include flex(row, center);
    flex-wrap: wrap;
    img {
        display: inline-block;
        width: 45vw;
        margin: 8rem 0rem 5rem 0rem;
    }
}
