.checkoutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12rem 0rem;
  background-image: url("../../assets/wallpaperCart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0rem;
}

.checkoutContainer .titleContainer p {
  font-size: 2.5rem;
  font-family: oswald, sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #1c4da4;
  margin: 0rem;
  text-align: center;
}

.checkoutContainer .formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.checkoutContainer .formContainer form label {
  font-size: 2rem;
  font-family: oswald, sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #1c4da4;
  background-color: #fed406;
  padding: 1rem;
  margin: .5rem;
}

.checkoutContainer .formContainer form input {
  width: auto;
  border: none;
  padding: 1rem;
  margin-left: 1rem;
  background-color: #fed406;
}

.checkoutContainer .formContainer form input:focus {
  outline: 0rem;
  padding: 1rem;
  margin-left: 1rem;
  background-color: rgba(255, 217, 0, 0.5);
}

.checkoutContainer .formContainer form input:focus {
  text-transform: uppercase;
  color: #1c4da4;
  background-color: rgba(255, 217, 0, 0.5);
}

.checkoutContainer .formContainer form input#name, .checkoutContainer .formContainer form input#email, .checkoutContainer .formContainer form input#number {
  text-transform: uppercase;
  color: #1c4da4;
  background-color: rgba(255, 217, 0, 0.5);
}

.checkoutContainer .buyContainer .confirmButton {
  font-size: 1.8rem;
  font-family: anton, sans-serif;
  color: #fed406;
  text-transform: uppercase;
  background-color: #1c4da4;
  letter-spacing: 3px;
  padding: 0.5rem 2rem;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-decoration: none;
}

.checkoutContainer .buyContainer .confirmButton:hover {
  cursor: pointer;
  color: #1b458f;
}

.checkoutContainer .buyContainer .confirmButton:active {
  cursor: pointer;
  color: #1b458f;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.checkoutContainer .buyContainer .confirmButton:hover {
  color: #fed406;
  background-color: #1b458f;
}

.checkoutContainer .buyContainer .confirmButton:active {
  color: #fed406;
  background-color: #1b458f;
  -webkit-box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
          box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
}

.thankYou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12rem 0rem;
  background-image: url("../../assets/wallpaperCart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0rem;
}

.thankYou p {
  font-size: 2.5rem;
  font-family: oswald, sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #1c4da4;
  margin: 0rem 0rem .5rem 0rem;
  text-align: center;
}

.thankYou h1 {
  font-size: 3.5rem;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0rem 0rem 2rem 0rem;
}

.thankYou .doneOrder {
  font-size: 1.8rem;
  font-family: anton, sans-serif;
  color: #fed406;
  text-transform: uppercase;
  background-color: #1c4da4;
  letter-spacing: 3px;
  padding: 0.5rem 2rem;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-decoration: none;
}

.thankYou .doneOrder:hover {
  cursor: pointer;
  color: #1b458f;
}

.thankYou .doneOrder:active {
  cursor: pointer;
  color: #1b458f;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.thankYou .doneOrder:hover {
  color: #fed406;
  background-color: #1b458f;
}

.thankYou .doneOrder:active {
  color: #fed406;
  background-color: #1b458f;
  -webkit-box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
          box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
}
/*# sourceMappingURL=checkout.css.map */