@import "../variables/variables.scss";

.checkoutContainer {
    @include flex(column, center);
    margin: 12rem 0rem;
    background-image: url("../../assets/wallpaperCart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 8rem 0rem;
    .titleContainer {
        p {
            @include font2(2.5rem);
            letter-spacing: .5px;
            text-transform: uppercase;
            color: $blue;
            margin: 0rem;
            text-align: center;
        }
        .checkEmail {
            @include font2(1.5rem);
            letter-spacing: 0px;
            text-transform:none;
            color: $pink;
            margin-top: 2rem;
            text-align: center;
        }
    }
    .formContainer {
        form {
        @include flex2(column, flex-start, flex-start);
        margin-top: 3rem;
        margin-bottom: 3rem;
        label {
            @include font2(2rem);
            width: 25vw;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: $blue;
            background-color: $yellow;
            padding: 1rem;
            margin: .5rem;
        }
        input {
            width: 10vw;
            border: none;
            padding: 1rem;
            margin-left: 1rem;
            background-color: $yellow;
        }
        input:focus {
            outline: 0rem;
            padding: 1rem;
            margin-left: 1rem;
            background-color: $lightyellow;
        }
        input:focus {
            text-transform: uppercase;
            color: $blue;
            background-color: $lightyellow;
        }
        input#name, input#email, input#number {
            text-transform: uppercase;
            color: $blue;
            background-color: $lightyellow;
        }
        }
    }
    .buyContainer {
        .confirmButton{
            @include button(1.8rem, $yellow, $blue, .5rem 2rem);
            text-decoration: none;
            &:hover {
                color: $yellow;
                background-color: $darkblue;
            }
            &:active {
                color: $yellow;
                background-color: $darkblue;
                box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
            }
        }
    }
}

.thankYou {
    @include flex(column, center);
    margin: 12rem 0rem;
    background-image: url("../../assets/wallpaperCart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 8rem 0rem;
    p{
        @include font2(2.5rem);
        letter-spacing: .5px;
        text-transform: uppercase;
        color: $blue;
        margin: 0rem 0rem .5rem 0rem;
        text-align: center; 
    }
    h1 {
        @include font2(3.5rem);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0rem 0rem 2rem 0rem;
    }
    .doneOrder{
        @include button(1.8rem, $yellow, $blue, .5rem 2rem);
        text-decoration: none;
        &:hover {
            color: $yellow;
            background-color: $darkblue;
        }
        &:active {
            color: $yellow;
            background-color: $darkblue;
            box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
        }
    }
}