.banner2 {
  display: block;
  margin: auto;
  width: 100vw;
  margin-top: 9rem;
  margin-bottom: 3rem;
}

.bannerHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bannerHome img {
  display: inline-block;
  width: 45vw;
  margin: 8rem 0rem 5rem 0rem;
}

.seeMore {
  font-size: 2.3rem;
  font-family: anton, sans-serif;
  color: #fed406;
  text-transform: uppercase;
  background-color: #1c4da4;
  letter-spacing: 3px;
  padding: 0.5rem 4rem;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.seeMore:hover {
  cursor: pointer;
  color: #1b458f;
}

.seeMore:active {
  cursor: pointer;
  color: #1b458f;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.seeMore:hover {
  color: #fed406;
  background-color: #1b458f;
}

.seeMore:active {
  color: #fed406;
  background-color: #1b458f;
  -webkit-box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
          box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
}

/* EXTRA SMALL */
@media only screen and (max-width: 320px) {
  .bannerHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .bannerHome img {
    display: inline-block;
    width: 98vw;
    margin: 0rem;
  }
  .seeMore {
    font-size: 1.5rem;
    font-family: anton, sans-serif;
    color: #fed406;
    text-transform: uppercase;
    background-color: #1c4da4;
    letter-spacing: 3px;
    padding: 0.5rem 2rem;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .seeMore:hover {
    cursor: pointer;
    color: #1b458f;
  }
  .seeMore:active {
    cursor: pointer;
    color: #1b458f;
    -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

/* SMALL */
@media only screen and (min-width: 321px) and (max-width: 500px) {
  .bannerHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .bannerHome img {
    display: inline-block;
    width: 98vw;
    margin: 0rem;
  }
  .seeMore {
    font-size: 1.5rem;
    font-family: anton, sans-serif;
    color: #fed406;
    text-transform: uppercase;
    background-color: #1c4da4;
    letter-spacing: 3px;
    padding: 0.5rem 2rem;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .seeMore:hover {
    cursor: pointer;
    color: #1b458f;
  }
  .seeMore:active {
    cursor: pointer;
    color: #1b458f;
    -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

/* MEDIUM */
@media only screen and (min-width: 501px) and (max-width: 810px) {
  .bannerHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .bannerHome img {
    display: inline-block;
    width: 98vw;
    margin: 0rem;
  }
  .seeMore {
    font-size: 1.9rem;
    font-family: anton, sans-serif;
    color: #fed406;
    text-transform: uppercase;
    background-color: #1c4da4;
    letter-spacing: 3px;
    padding: 0.5rem 2.8rem;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  .seeMore:hover {
    cursor: pointer;
    color: #1b458f;
  }
  .seeMore:active {
    cursor: pointer;
    color: #1b458f;
    -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

/* BIG */
@media only screen and (min-width: 811px) and (max-width: 1000px) {
  .seeMore {
    font-size: 2rem;
    font-family: anton, sans-serif;
    color: #fed406;
    text-transform: uppercase;
    background-color: #1c4da4;
    letter-spacing: 3px;
    padding: 0.5rem 3rem;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  .seeMore:hover {
    cursor: pointer;
    color: #1b458f;
  }
  .seeMore:active {
    cursor: pointer;
    color: #1b458f;
    -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}
/*# sourceMappingURL=home.css.map */