@import "../variables/variables.scss";

.findProduct{
    @include flex(column, center);
    margin-top: 0rem;
    margin-bottom:6rem;
    background-image: url("../../assets/wallpaperCart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 50vh;
    width: 100vw;
    h1 {
        @include font2(3.5rem);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0rem;
        color: $pink;
    }
    p {
        @include button(2rem, $yellow, $blue, 1rem 3rem);
            &:hover {
                color: $yellow;
                background-color: $darkblue;
            }
            &:active {
                color: $yellow;
                background-color: $darkblue;
                box-shadow: rgba(13, 41, 116, 0.815) 3px 3px 6px 0px inset, rgba(6, 31, 112, 0.301) -3px -3px 6px 1px inset;
            }
        a {text-decoration: none; color: $yellow;}
    }
}

.ItemDetailContainerParent {
    @include flex(column, center);
    margin: 12rem 4rem 4rem 4rem;
    .itemDetailContainer {
        background: linear-gradient($lightyellow, $lightpink);
        box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 8px;
        width: 100%;
        padding: 1rem;
        .itemDetailInfo {
            display:grid;
            grid-template-columns: 1fr 1fr;
           .itemDetailDiv {
            @include flex2(row, flex-start, flex-start);
                .itemDetailImg {
                    img {
                        height: 50vh;
                        width: auto;
                        margin: 2rem;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px;
                    }
                }
                .itemDetailText {
                    @include flex2(column, flex-start, flex-start);
                    margin: 0rem 2rem 2rem 0rem;
                    width: auto;
                    h1{
                        @include font2(3.5rem);
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        margin: 2rem 0rem 2rem 1rem;
                        padding: 1rem 0rem;
                    }
                    h5{
                        @include font2(1.5rem);
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        margin: 0rem 0rem 0rem 1rem;
                    }
                    p {
                        @include font2(1.9rem);
                        font-weight: 300;
                        line-height: 2.5rem;
                        background:rgba(255, 255, 255, 0.322);
                        padding: 1.5rem;
                    }
                    .itemDetailButtons{
                        @include flex2(row, flex-start, flex-end);
                        width: 100%;
                        margin-top: 5rem;
                        .itemDetailBuy {
                            .goToCart{
                                @include button(2rem, $blue, $white, .6rem 4rem);
                                text-decoration: none;
                            }
                            .itemCountContainer {
                                @include flex(column, center);
                                .itemCountPrice {
                                    .buyPrice{
                                        font-size: 2rem;
                                        font-family: anton, sans-serif;
                                        color: $white;
                                        text-transform: uppercase;
                                        background-color: rgba(255, 255, 255, 0.322);
                                        letter-spacing: 3px;
                                        padding: 1rem 0rem;
                                        text-align: center;
                                        width: 150px;
                                        margin: 1rem;
                                        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                                    }
                                }
                                .itemCounter {
                                    @include flex(row, center);
                                    background-color: $white;
                                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                                    padding: 0rem;
                                    margin: 0rem;
                                    width: 150px;
                                    .buttonAdd {
                                        @include font2(3rem);
                                        padding: 0rem 1.5rem;
                                        background-color: $white;
                                        color: $blue;
                                        border: 0rem;
                                        margin: 0rem;
                                        &:hover {
                                            cursor: pointer;
                                            color: $darkblue;
                                        }
                                    }
                                    .itemCounter {
                                        @include font2(2rem);
                                        text-align: center;
                                        color: $blue;
                                        box-shadow: none;
                                        padding: 0rem 3rem;
                                        margin: 0rem;
                                    }
                                    .buttonSubtract {
                                        @include font2(3rem);
                                        padding: 0rem 1.5rem;
                                        background-color: $white;
                                        color: $blue;
                                        border: 0rem;
                                        margin: 0rem;
                                        &:hover {
                                            cursor: pointer;
                                            color: $darkblue;
                                        }
                                    }
                                }
                                .itemCounterBuy {
                                    .buyButton {
                                        @include button(2rem, $blue, $white, .6rem 5.7rem);
                                        margin: 1rem;
                                        width: 150px;
                                    }
                                }
                            }
                        }
                        .itemDetailRent {
                            @include flex(column, center);
                            .rentPrice {
                                font-size: 2rem;
                                font-family: anton, sans-serif;
                                color: $white;
                                text-transform: uppercase;
                                background-color: rgba(255, 255, 255, 0.322);
                                letter-spacing: 3px;
                                padding: 1rem 0rem;
                                text-align: center;
                                width: 150px;
                                margin: 1rem;
                                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                            }
                            .rentDays {
                                font-size: 2rem;
                                font-family: anton, sans-serif;
                                color: $white;
                                text-transform: uppercase;
                                background-color: rgba(255, 255, 255, 0.322);
                                letter-spacing: 3px;
                                padding: 1rem 0rem;
                                text-align: center;
                                width: 150px;
                                margin: 0rem;
                                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                            }
                            .rentButton {
                                @include button(2rem, $blue, $white, .6rem 5.5rem); 
                                margin: 1rem;
                                width: 150px;
                            }
                        }
                    }
                }
           }
            .itemDetailTrailer{
                @include flex(row, center);
                width: 50vw;
                iframe {
                    width: 50vw;
                    height: 50vh;
                    margin: 2rem;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px;
                }
            }
        }
    }
}


    


/* SMALL */

@media only screen and (max-width: 500px) {
    .ItemDetailContainerParent {
        margin: 3rem 0rem;
        .itemDetailContainer {
            width: 90%;
            .itemDetailInfo {
                @include flex(column, center);
               .itemDetailDiv {
                @include flex(column, center);
                width: 90%;
                    .itemDetailImg {
                        img {
                            margin: 2rem;
                        }
                    }
                    .itemDetailText {
                        margin:0rem;
                        .itemDetailButtons{
                            @include flex2(row, center, flex-end);
                            margin-top: 1rem;
                        }
                    }
               }
                .itemDetailTrailer{
                    @include flex(column, center);
                    width: 100%;
                    iframe {
                        width: 90%;
                        height: 300px;
                        margin: 2rem;
                    }
                }
            }

        }
    }
}

/* MEDIUM */

@media only screen and (min-width: 501px) and (max-width: 840px) {
    .ItemDetailContainerParent {
        margin: 4rem;
        .itemDetailContainer {
            width: 90%;
            .itemDetailInfo {
                @include flex2(column, center, center);
               .itemDetailDiv {
                @include flex(column, center);
                width: 90%;
                    .itemDetailImg {
                        img {
                            margin: 2rem;
                        }
                    }
                    .itemDetailText {
                        margin:0rem;
                        .itemDetailButtons{
                            @include flex2(row, center, flex-end);
                        }
                    }
               }
                .itemDetailTrailer{
                    @include flex(column, center);
                    width: 100%;
                    iframe {
                        width: 90%;
                        margin: 2rem;
                    }
                }
            }

        }
    }
}

/* BIG LARGE */

@media only screen and (min-width: 841px) and (max-width: 1100px) {
    .ItemDetailContainerParent {
        .itemDetailContainer {
            width: 90%;
            .itemDetailInfo {
                @include flex(column, center);
               .itemDetailDiv {
                @include flex(row, center);
                width: 90%;
                    .itemDetailImg {
                        img {
                            margin: 2rem;
                        }
                    }
               }
                .itemDetailTrailer{
                    @include flex(column, center);
                    width: 100%;
                    iframe {
                        width: 70vw;
                        margin: 2rem;
                    }
                }
            }

        }
    }
}

/* EXTRA LARGE */

@media only screen and (min-width: 1101px) and (max-width: 1500px) {
    .ItemDetailContainerParent {
        .itemDetailContainer {
            width: 90%;
            .itemDetailInfo {
                @include flex(column, center);
               .itemDetailDiv {
                width: 90%;
                    .itemDetailImg {
                        img {
                            margin: 2rem 2rem 2rem 8rem;
                        }
                    }
               }
                .itemDetailTrailer{
                    @include flex(column, center);
                    iframe {
                        width: 70vw;
                        margin: 2rem;
                    }
                }
            }

        }
    }
}
