.ItemDetailContainerParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12rem 4rem 4rem 4rem;
}

.ItemDetailContainerParent .itemDetailContainer {
  background: -webkit-gradient(linear, left top, left bottom, from(#fed406), to(#ea2194));
  background: linear-gradient(#fed406, #ea2194);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo {
  background: rgba(255, 255, 255, 0.322);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailImg img {
  width: 200px;
  margin: 2rem 2rem 2rem 8rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText {
  margin: 2rem 2rem 2rem 0rem;
  width: auto;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText h1 {
  font-size: 3.5rem;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0rem 0rem 0rem 1rem;
  padding: 1rem 0rem;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText h5 {
  font-size: 1.2rem;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0rem 0rem 0rem 1rem;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText p {
  font-size: 1.7rem;
  font-family: oswald, sans-serif;
  font-weight: 300;
  line-height: 2.5rem;
  background: rgba(255, 255, 255, 0.322);
  padding: 1.5rem;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer iframe {
  width: 80%;
  margin: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.322);
  width: 100%;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailBuy button {
  font-size: 2rem;
  font-family: anton, sans-serif;
  color: #1c4da4;
  text-transform: uppercase;
  background-color: #ffffff;
  letter-spacing: 3px;
  padding: 0.6rem 4rem;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 2rem;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailBuy button:hover {
  cursor: pointer;
  color: #781565;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailBuy button:active {
  cursor: pointer;
  color: #781565;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailRent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailRent button {
  font-size: 2rem;
  font-family: anton, sans-serif;
  color: #1c4da4;
  text-transform: uppercase;
  background-color: #ffffff;
  letter-spacing: 3px;
  padding: 0.6rem 4rem;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 2rem;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailRent button:hover {
  cursor: pointer;
  color: #781565;
}

.ItemDetailContainerParent .itemDetailContainer .itemDetailButtons .itemDetailRent button:active {
  cursor: pointer;
  color: #781565;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* SMALL */
@media only screen and (max-width: 500px) {
  .ItemDetailContainerParent {
    margin: 3rem 0rem;
  }
  .ItemDetailContainerParent .itemDetailContainer {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailImg img {
    width: 200px;
    margin: 2rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText {
    margin: 0rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer iframe {
    width: 90%;
    margin: 2rem;
  }
}

/* MEDIUM */
@media only screen and (min-width: 501px) and (max-width: 840px) {
  .ItemDetailContainerParent {
    margin: 4rem;
  }
  .ItemDetailContainerParent .itemDetailContainer {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailImg img {
    width: 200px;
    margin: 2rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailText {
    margin: 0rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer iframe {
    width: 90%;
    margin: 2rem;
  }
}

/* BIG LARGE */
@media only screen and (min-width: 841px) and (max-width: 1100px) {
  .ItemDetailContainerParent .itemDetailContainer {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailImg img {
    width: 200px;
    margin: 2rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer iframe {
    width: 80%;
    margin: 2rem;
  }
}

/* EXTRA LARGE */
@media only screen and (min-width: 1101px) and (max-width: 1500px) {
  .ItemDetailContainerParent .itemDetailContainer {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv {
    width: 90%;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailDiv .itemDetailImg img {
    width: 250px;
    margin: 2rem 2rem 2rem 8rem;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemDetailContainerParent .itemDetailContainer .itemDetailInfo .itemDetailTrailer iframe {
    width: 800px;
    margin: 2rem;
  }
}
/*# sourceMappingURL=itemDetail.css.map */